/* SIFIRLAMA */
ul,li
{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
img
{
    border:0px;    
}
a
{
    text-decoration: none;    
}

/* SLİDER */
#onceki,#sonraki,.slider-figure{
    top: -65px;
    position: absolute;
    color:White;
    padding: 22.5px 20px;
}
#onceki
{
    background: #ad1c1c;

}
#sonraki
{
    background: #b41f1f;
    left:62px;
}
.slider-figure
{
    height: 70px;
    left:124px;
    background: url(figure.png);
}
#slider
{
    font-size: 22px;
    color:white;
    width: 800px;
    height: 411.5px;
    position: relative;
    overflow: hidden;
}
#slider ul.slider li
{
    width: 800px;
    height: 411.5px;
    overflow: hidden;
    float: left;
}
.slider img
{
    width: 800px;
    height: 411px;
}
.sayfa
{
    position: absolute;
    bottom: 00px;
    right: 00px;
}
.sayfa_buton
{
    position: absolute;
    bottom: 0px;
    left:0px;
}
#slider a:hover
{
    text-decoration: none;
}
.slider-title
{
    width: 100%;
    position: relative;
    background: #3c4f54;
    padding: 1px 165px;
    left: 0px;
    bottom: 50px;
}
.slider-title h3
{
    margin: 15px 5px !important;
}

@media screen and (max-width:1200px)
{
    #slider
    {
        display: none;
    }
}